</h4>
  <strong>Title: </strong>
  <%= post.title %>
</h4>
 <p>
  by: 
  <%= post.user.username %>
 </p>
<p>
  <%= post.body %>
</p>

<p>
    <%= link_to 'Delete Post', user_post_path(post.user.id, post.id), method: :delete %>
</p>